/* Import Bootstrap */
@import url('bootstrap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Palette */
:root {
  --accent-color: #ffc107;
  --black: #000000;
  --light-color: #f8f9fa;
}

/* Commons */
body {
  font-family: 'Quicksand Variable', sans-serif;
}

.title_font {
  font-family: "Crimson Pro Variable";
}

.story_text {
  font-family: 'Quicksand Variable', sans-serif;
  color: var(--black);
  line-height: 1.8rem;
  ;
}

.story_tags {
  position: absolute;
  padding-top: 10px;
}

.story_tag {
  color: var(--black);
  font-size: 0.75rem;
  background-color: var(--accent-color);
  border-radius: 0 5px 5px 0;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 0 15px;
  width: fit-content;
  margin: 5px 0;
}




/* Footer */

footer {
  background-color: var(--light-color);
  text-align: center;
  padding: 1.5rem;
}