/* Import Bootstrap */
@import url('bootstrap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Palette */
:root {
  --accent-color: #ffc107;
  --issue-color: #ff8707; /* default fallback */
  --issue-color-light: #ff870755; /* default fallback */
  --black: #000000;
  --light-color: #f8f9fa;
}

/* Commons */
body {
  font-family: 'Quicksand Variable', sans-serif;
}

.title_font {
  font-family: "Crimson Pro Variable";
  color: var(--black);
}

.story_text {
  font-family: 'Quicksand Variable', sans-serif;
  color: var(--black);
  line-height: 1.8rem;
  ;
}

.story_tags,
.issue_number_container {
  position: absolute;
  padding-top: 10px;
}

.story_tag {
  color: var(--light-color);
  font-size: 0.75rem;
  background-color: var(--issue-color);
  border-radius: 0 5px 5px 0;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 0 15px;
  width: fit-content;
  margin: 5px 0;
}

.story_card {
  border: none;
  box-shadow: 1px 1px 18px 3px rgba(0, 0, 0, 0.1);
}


.issue_card {
  background-color: var(--issue-color-light);
  border: none;
  box-shadow: 1px 1px 18px 3px rgba(0, 0, 0, 0.1);
}

.issue_img {
  background-color: var(--issue-color-light);

}

.issue_number {
  color: var(--light-color);
  background-color: var(--issue-color);
  border-radius: 0 5px 5px 0;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5px 15px;
  width: fit-content;
  margin: 5px 0;
}

/* Footer */

footer {
  background-color: var(--light-color);
  text-align: center;
  padding: 1.5rem;
}